@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --rich-black: #14191C;
  --eerie-black: #212529;
  --french-grey: #ADB5BD;
  --platinum: #DEE2E6;
  --anti-flash-white: #E9ECEF;
  --seasalt: #F8F9FA;
}

/* 
  font-family: "Urbanist", sans-serif;
  font-family: "Raleway", sans-serif;
*/

html {
  scroll-behavior: smooth!important;
}

body {
  margin: 0;
  background-color: var(--rich-black);
}